.card {
    width: 20%;
    margin: 5%;
}

.typeSelector {
    text-align: center;
    margin: 2%;
}

#student, #instructor {
    width: 200px;
    background: #BBDEFB;
    color: #212121;
    font-weight: bold;
}

#student {
    border: 2px #03A9F4 solid;
}

.ddSection {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    background-color: whitesmoke;
}
