.card {
    width: 20%;
    margin: 5%;
}

.typeSelector {
    text-align: center;
    margin: 2%;
}

#student, #instructor {
    width: 200px;
    background: #BDBDBD;
    border: 2px #03A9F4 solid;
    color: #212121;
    font-weight: bold;
}

#student {
    background: #BBDEFB;
}