.card {
    width: 20%;
    margin: 2%;
    display: inline-block;
}

.card-content{
    color: white;
}

.card-action{
    color: white;
}


.typeSelector {
    text-align: center;
    margin: 2%;
}

#student, #instructor {
    width: 200px;
    background: #BDBDBD;
    border: 2px #03A9F4 solid;
    color: #212121;
    font-weight: bold;
}

#student {
    background: #BBDEFB;
}

#labelCoursesDropdownElement {
	height: 5;
    padding-top: 20px;
    margin-left: 5px;
}

.cardLink a:link{
    color: aliceblue;
}

.ddSection{
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    background-color: whitesmoke;
    text-decoration-color: wheat;
}
