* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
}

header{
    height: 7%;
    background-color: steelblue;
}

h1 {
    font-size: 2em;
    text-align: center;
}

.stack {
    width: 25%;
    height: 100%;
    position: absolute;
    left: 0;
    margin: 0;
    overflow-y:auto;
}

.title {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    vertical-align: middle;
    display: inline-block;
}

.titleIcon {
    vertical-align: middle;
    display: inline-block;
}

.bsDivider {
    height: 1px;
	background-color: #BDBDBD;
}

#icon{
    display: inline-block;
}
.content {
    width: 75%;
    height: 60%;
    position: absolute;
    right: 0%;
}

.chat {
    width: 75%;
    height: 33%;
    position: absolute;
    background-color: steelblue;
    right: 0%;
    bottom: 0%;
}

.length1 {
    padding: 0;
    margin: 0;
    left: 0;
    width: 5%;
    height: 10%;
    background: black;
    position: absolute;
}

.length2 {
    padding: 0;
    margin: 0;
    left: 0;
    width: 5%;
    height: 10%;
    background: grey;
    position: absolute;
}

.length3 {
    padding: 0;
    margin: 0;
    left: 0;
    width: 5%;
    height: 10%;
    background: lightgray;
    position: absolute;
}

.length4 {
    padding: 0;
    margin: 0;
    left: 0;
    width: 5%;
    height: 10%;
    background: white;
    position: absolute;
}

#coll{
    margin-top: .5px;
    margin-right: .5px;
    padding: 0;
}